<footer id="footer" class="site-footer">
  <div style="float:left">
    <p>&copy; pierre emmanuel fillet 2015 / <a href="#about" id="about-link">about</a> / <a href="mailto:pemmanuelf@yahoo.fr">contact</a> /</p>
  </div>
  <div class="sharing">
    <div class="fbLink"></div>
    <div class="twLink"></div>
  </div>
  <br class="clearfix" />
</footer>

<div id="iipContainer"></div>
<div class="closeBtn"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ site.url }}/static/js/site.min.js"></script>
